{% extends "_template.html.twig" %}

{% block title %}
    Evenement: {{ event.name }}
{% endblock %}

{% block content %}
    <div class="section has-background-info-dark">
        <div class="columns box has-background-warning">
            <div class="column box is-two-fifth">
                <figure class="image is-1by1">
                    <img src="https://loremflickr.com/1024/1024/conference,office/all?lock={{ event.id }}">
                </figure>
            </div>
            <div class="column">
                <h1 class="title">Evenement: {{ event.name }}</h1>
                <br>
                <h3 class="subtitle">Description: <i>{{ event.description }}</i></h3>
                <h5 class="subtitle">Date: {{ event.date | date('d-m-Y')}}</h5>

                <a href="{{ path('event_participate', {id: event.id}) }}" class="button is-info is-fullwidth">Participez à cet événement !</a>
            </div>
        </div>
    </div>
{% endblock %}