{% extends "_template.html.twig" %}

{% block title %}
    Evenement: {{ event.name }}
{% endblock %}

{% block content %}
    <div class="section">
        <div class="columns">
            <div class="column is-two-fifth">
                <figure class="image is-1by1">
                    <img src="https://loremflickr.com/1024/1024/art/all?lock={{ event.id }}">
                </figure>
            </div>
            <div class="column">
                <h1 class="title">Evenement: {{ event.name }}</h1>

                <h3 class="subtitle">Description: <i>{{ event.description }}</i></h3>
                <h5 class="subtitle">Date: {{ event.date | date('d-m-Y')}}</h5>

                <a href="{{ path('participe', {id: event.id}) }}" class="button is-info is-fullwidth">Je participe !</a>
            </div>
            <div class="column">
                <h2 class="subtitle">Invitations</h2>
                <p><i>Inviter un ami pour participer à cet événement ...</i></p>
                
                {% include 'includes/flash.html.twig' %}

                {% if invite_form is defined %}
                    {{ form_start(invite_form) }}

                    {{ form_row(invite_form.email, {
                        label: 'Adresse email:'
                    }) }}

                    <a href="{{ path('participe', {id: event.id}) }}" class="button is-info is-fullwidth">Inviter un ami !</a>

                    {{ form_end(invite_form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}