{% extends "_template.html.twig" %}

{% block title %}Participations{% endblock %}

{% block content %}
    <div class="section">

        <h1 class="title">Evénements: {{ liste_participations|length }} </h1>

        {# Inclusion du fichier des messages flash #}
        {% include 'includes/flash.html.twig' %}

        <a href="{{ path('event_participate') }}" class="button is-info">Nouvel événement:</a>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>Date</th>
                <th>Annuler</th>
            </tr>
            </thead>
            <tbody>
            {% for event in liste_evenements %}    
                <tr class="is-selected">
                    <th>{{ event.id }}</th>
                    <td>
                        <a href="{{ path('event_page', {id: event.id}) }}">
                        {{ event.name }}
                        </a>
                    </td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.place }}</td>
                    <td>{{ event.createdAt | date('d-m-Y')}}</td>
                    <td>
                        <a href="{{ path('event_annuler', {id: event.id}) }}" class="button is-danger">Annuler</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>

{% endblock %}