{% extends "_template.html.twig" %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <div class="columns is-centered section has-background-info-dark">
        <div class="column is-one-third box">
            <h1 class="title has-text-primary has-text-centered">Connexion</h1>

            {# si l'utilisateur est déjà connecté #}
            {% if app.user %}
                <div class="notification is-info">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            {# si une erreur survient #}
            {% if error %}
                <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% include 'includes/flash.html.twig' %}

            <form method="post">
                <div class="field">
                    <label class="label" for="inputEmail">Identifiant</label>
                    <div class="control">
                        <input class="input" type="text" value="{{ last_username }}" name="username" id="inputEmail" required autofocus>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="inputPassword">Mot de passe</label>
                    <div class="control">
                        <input class="input" type="password" name="password" id="inputPassword" required>
                    </div>
                </div>

                {# un champ caché pour la protection des failles CSRF #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="button is-primary is-fullwidth" type="submit">
                    Connexion
                </button>
            </form>
        </div>
        <div class="position-relative" style="z-index: 0; transition: all 0.25s ease-in"> 
            {# <div class="position-absolute overflow-hidden width-full top-0 left-0" style="height: 30px">
                <img alt="" class="js-plaxify position-absolute" data-invert="true" data-xrange="0" data-yrange="20" style="z-index: 1; width: 100%; height: 425px; top: 0; left: 0; transform: translate3d(0px, 6.89513px, 0px);" src="https://www.idpsante.com/wp-content/uploads/revslider/splash-creative-light-01-animated/Slider-CL01-Background.png" width="100%" height="615">
            </div> #}
            <div class="position-relative overflow-hidden width-full top-0 left-0" style="width: 100%; height: 470px; clear: both">
                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="60" style="z-index: 8; top: 600px; left: 356px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://image.flaticon.com/icons/png/512/601/601323.png" width="200" height="200">

                <img alt="" class="js-plaxify position-absolute" data-invert="true" data-xrange="75" data-yrange="60" style="z-index: 7; top: 150px; left: 432px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://www.flaticon.com/svg/static/icons/svg/1365/1365145.svg" width="120" height="156">

                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="80" style="z-index: 2; top: 297px; left: 671px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://image.flaticon.com/icons/png/512/2074/2074274.png" width="166" height="49">

                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="20" style="z-index: 5; top: 73px; left: 467px; transform: translate3d(-23.8544px, 1.346px, 0px);" src="https://www.flaticon.com/svg/static/icons/svg/1365/1365145.svg" width="170" height="150">

                <img alt="" class="js-plaxify position-absolute" data-invert="true" data-xrange="75" data-yrange="30" style="z-index: 4; top: 113px; left: 462px; transform: translate3d(-36.2817px, 2.01899px, 0px);" src="https://image.flaticon.com/icons/png/512/3026/3026414.png" width="116" height="50">

                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="20" style="z-index: 5; top: 73px; left: 467px; transform: translate3d(-23.8544px, 1.346px, 0px);" src="https://www.flaticon.com/svg/static/icons/svg/1365/1365145.svg" width="170" height="150">

                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="80" style="z-index: 2; top: 297px; left: 671px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://image.flaticon.com/icons/png/512/2074/2074274.png" width="166" height="49">
               
                <img alt="" class="js-plaxify position-absolute" data-invert="true" data-xrange="75" data-yrange="60" style="z-index: 7; top: 150px; left: 432px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://www.flaticon.com/svg/static/icons/svg/1365/1365145.svg" width="120" height="156">

                <img alt="" class="js-plaxify position-absolute" data-invert="false" data-xrange="50" data-yrange="60" style="z-index: 8; top: 600px; left: 356px; transform: translate3d(4.77089px, -0.672998px, 0px);" src="https://image.flaticon.com/icons/png/512/601/601323.png" width="200" height="200">

                <img alt="" class="js-plaxify position-absolute" data-invert="true" data-xrange="75" data-yrange="30" style="z-index: 4; top: 113px; left: 462px; transform: translate3d(-36.2817px, 2.01899px, 0px);" src="https://image.flaticon.com/icons/png/512/3026/3026414.png" width="116" height="50">

            </div>
        </div>
        <script type="text/javascript" src="https://github.githubassets.com/_error.js"></script>
    </div>
{% endblock %}