{% extends '_template.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section has-background-info-dark">
        <div class="box has-background-warning is-vcentered">
            <h1 class="title">Accueil</h1>
            <br>
            <h2 class="subtitle is-selected">Bienvenue sur <strong>MY-EVENT !</strong> </h2>
            <h3 class="subtitle">Une application faite pour vous, commencez d'organiser vos événements ... </h3>

            {# {% include 'includes/pagination.html.twig' with {
                current: pagination_current,
                total: events|length,
                offset: pagination_offset
            } %} #}
        </div>
        {% include 'includes/flash.html.twig' %}
        <br>
        <div class="columns is-centered section has-background-info-dark">
            <div class="column is-one-third box">
                <h1 class="title">Contact</h1>

                {{ form_start(form) }}

                    {# {{ form_widget(form) }} #}

                    {{ form_row(form.nom, {
                        'label': "Nom:",
                        'attr': {'placeholder': 'Jean Doe'}
                    }) }}
                    {{ form_row(form.email, {
                        'label': 'Adresse email:',
                        'attr': {'placeholder': 'Adresse email ...'}
                    }) }}
                    {{ form_row(form.objet,  {
                        'label': 'Objet:',
                        'attr': {'placeholder': 'Saisir votre objet'}
                    }) }}
                    {{ form_row(form.message,  {
                        'label': 'Message:',
                        'attr': {'placeholder': 'Taper votre message ici'}
                    }) }}

                    <button type="submit" class="button is-success">Envoyer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}