{% extends "_template.html.twig" %}

{% block title %}Participations{% endblock %}

{% block content %}
    <div class="section has-background-warning">

        <h1 class="title">Mes participations: {{ liste_participations|length }}</h1>

        {# Inclusion du fichier des messages flash #}
        {% include 'includes/flash.html.twig' %}

        <table class="table is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date</th>
                <th>Annuler</th>
            </tr>
            </thead>
            <tbody>
            {% for event in liste_participations %}    
                <tr>
                    <th>{{ event.id }}</th>
                    <td>
                        <a href="{{ path('event_page', {id: event.id}) }}">
                        {{ event.name }}
                        </a>
                    </td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date | date('d-m-Y')}}</td>
                    <td>
                        <a href="{{ path('annuler', {id: event.id}) }}" class="button is-danger">Annuler</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>

{% endblock %}
