
{% extends "base.html.twig" %}

{% block body %}

    <nav class="navbar has-background-grey-darker is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('homepage') }}">
                <img src="https://lh3.googleusercontent.com/proxy/TxgOH-T_SCejxCQ__n9RtD1-r-Rg95JSoRBlUrgtBXd4Jqvjb038-pwrbMFAa26WRrxLAx656qLkf0k2Lnju-G719s_UETNGndkYZCW-FOhkgaLpyAr8K8VyBBVw0mht-hBnMe1ZaNES" width="40">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu has-background-grey-darker is-dark">
            <div class="navbar-start">
                {% if app.user %}
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href=""> 
                            <span class="icon">
                                <i class="fas fa-hourglass-half"></i>
                            </span>
                            <span>Importation des données</span>
                        </a>
                    </span>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="">
                            <span class="icon">
                                <i class="fas fa-filter"></i>
                            </span>
                            <span>Filtrage</span>
                        </a>
                    </span>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <span class="navbar-link">
                            <a class="button is-white is-outlined" href="">
                                <span class="icon">
                                    <i class="fas fa-database"></i>
                                </span>
                                <span>Mise en BDD</span>
                            </a>
                            <div class="navbar-dropdown">
                                <a class="button is-dark is-outlined" href="">
                                    <span class="icon">
                                        <i class="fas fa-calendar-check"></i>
                                    </span>
                                    <span>Données/Indicateurs</span>
                                </a>
                            </div>
                        </span>
                    </div>
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="">
                            <span class="icon">
                                <i class="fas fa-cogs"></i>
                            </span>
                            <span>Traitement</span>
                        </a>
                    </span>  
                    <span class="navbar-item">
                        <a class="button is-white is-outlined" href="">
                            <span class="icon">
                                <i class="far fa-chart-bar"></i>
                            </span>
                            <span>Graphique</span>
                        </a>
                    </span>  
                     <span class="navbar-item">
                        <a class="button is-white is-outlined" href="">
                            <span class="icon">
                                <i class="fas fa-file-download"></i>
                            </span>
                            <span>Télécharger le CSV</span>
                        </a>
                    </span>  
                {% endif %}                            
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if is_granted('ROLE_USER') %}
                            <a class="button is-primary is-small" href="{{ path('profile_edit') }}">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                                <strong>{{ app.user.pseudo }}</strong>
                            </a>
                            <a class="button is-white is-small" href="{{ path('app_logout') }}">
                                <span class="icon">
                                    <i class="fa fa-power-off"></i>
                                </span>
                            </a>
                        {% else %}
                            <a class="button is-primary is-small" href="{{ path('app_register') }}">
                                <strong>Inscription</strong>
                            </a>
                            <a class="button is-light is-small" href="{{ path('app_login') }}">
                                Connexion
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}



   
   

