
{% extends "base.html.twig" %}

{% block body %}

    <nav class="navbar has-background-grey-darker is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('homepage') }}">
                <p class="subtitle is-4 has-text-primary">
                    <i class="fab fa-korvue"></i><b>VENTS</b>
                </p>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <section class="hero is-info">
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="#">
                                        <span class="icon">
                                            <i class="fas fa-clipboard-list"></i>
                                        </span>
                                        <span>Mes événements</span>
                                    </a>
                                </span>
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="#">
                                        <span class="icon">
                                            <i class="fas fa-calendar-plus"></i>
                                        </span>
                                        <span>Nouvel événement</span>
                                    </a>
                                </span>
                                <span class="navbar-item">
                                    <a class="button is-white is-outlined" href="#">
                                        <span class="icon">
                                            <i class="fas fa-newspaper"></i>
                                        </span>
                                        <span>Participations</span>
                                    </a>
                                </span>                               
                            </div>
                        </div>
                    </div>
                </nav>
            </section>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                        {# <a class="button is-primary is-small" href="{{ path('account_profile') }}">
                            <span class="icon"><i class="fas fa-user-circle"></i></span>
                            <strong>{{ app.user.pseudo }}</strong>
                        </a> #}
                        <a class="button is-light is-small" href="{{ path('app_logout') }}">
                            <span class="icon">
                                <i class="fas fa-sign-out"></i>
                            </span>
                        </a>
                    {% else %}
                        <a class="button is-primary is-small" href="{{ path('app_register') }}">
                            <strong>Inscription</strong>
                        </a>
                        <a class="button is-light is-small" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}



    

   
   

